---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ site.name }} - Blog Feed</title>
        <link>{{ site.url }}</link>
        <description>{{ site.description }}</description>
        <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
        {% for post in collections.posts | reverse | batch(10) | first %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ site.url }}{{ post.url }}</link>
            <guid>{{ site.url }}{{ post.url }}</guid>
            <pubDate>{{ post.date | postDate }}</pubDate>
            <description>{{ post.data.description }}</description>
            {% if post.data.image %}
            <enclosure url="{{ post.data.image }}" type="image/jpeg"/>
            {% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>
