---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for page in collections.all %}
    <url>
        <loc>{{ site.url }}{{ page.url }}</loc>
        <lastmod>{{ page.date | isoDate }}</lastmod>
        <changefreq>{{ "monthly" if "post" in page.inputPath else "yearly" }}</changefreq>
        <priority>{{ "1.0" if page.url == "/" else "0.8" }}</priority>
        {% if page.data.image %}
        <image:image>
            <image:loc>{{ page.data.image }}</image:loc>
            <image:title>{{ page.data.title | escape }}</image:title>
        </image:image>
        {% endif %}
    </url>
    {% endfor %}
</urlset>
